.App {
  text-align: center;
  background-color: antiquewhite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.MyKitchen {
  text-align: center;
}

.Recipe div {
  background-color: antiquewhite;
}

.Recipe1 {
  float:left;
  width: 20%
}
.Recipe2 {
  float:right;
  width: 80%
}

.Button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}